/* Instagram Widget
------------------------------------------------------------------------------------ */
.widget_area ul.instagram-pics {
    margin-right: -5px;
    margin-top: 10px;
    overflow: hidden;
    margin-left: 2px;
}
.widget_area ul.instagram-pics li {
    float: left;
    padding: 0;
    margin: 0 10px 10px 0;
    overflow: hidden;
    width: 27.7%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.widget_area ul.instagram-pics li:before {
	display:none;
}
