@charset "utf-8";
/* CSS Document */

body {
	font-family:"Open Sans",sans-serif; margin:0; padding:0;
	font-weight:400; font-size:18px; line-height:1.3; color:#000;
}
h1 {
	font-family:'Montserrat', sans-serif; font-size:46px; line-height:56px;
	font-weight:700; color:#FFF; margin:0; padding:0; text-align:center;
}
h2 {
	font-family:'Montserrat', sans-serif; font-size:36px; line-height:42px;
	font-weight:400; color:#152663; margin:0 0 40px; padding:0; text-align:center;
}
@media screen and (max-width: 960px) {
	h1 { font-size:36px; line-height:46px; }
}
@media screen and (max-width: 767px) {
	h1 { font-size:26px; line-height:36px; margin-top:20px; }
	h2 { font-size:26px; line-height:36px; }
}

/*** HEADER ***/

#header-claim {
	color:#FFF; background:url(immagini/top.png) repeat-x; height:105px;
	position:fixed; top:0; width:100%; z-index:100;
}
#bollino-wrapper {
	width:100%; max-width:1200px; margin:0 auto; box-sizing:border-box; text-align:center;
}
#bollino { float:right; display:block; width:168px; height:156px; position:relative; }
#bollino span { position:absolute; text-align:center; display:block; color:#FFF; left:0; right:0; }
#bollino span.txt1 { top:6px; font-size:20px; }
#bollino span.txt2 { top:44px; font-size:14px; padding:0 20px; }
#logo { margin-top:10px; }
@media screen and (max-width: 1200px) {
	#bollino-wrapper { padding:0 20px; }
}
@media screen and (max-width: 767px) {
	#header-claim { position:static; }
	#bollino { display:none; visibility:hidden; }
}

/*** TESTATA ***/

#content-wrapper { margin:90px auto 0 auto; width:100%; }
#head-image { margin:45px 0; position:relative; }
#head-image #trasparenza { position:absolute; top:0; bottom:0; left:0; right:0; background:#000; opacity:0.4; }
#head-image #h1_container { position:absolute; top:0; bottom:0; left:0; right:0; }
#head-image h1 { max-width:1000px; text-align:center; display:inline-block; }
#head-image table { width:100%; height:100%; }
#head-image td { width:100%; height:100%; text-align:center; vertical-align:middle; padding:0 20px; }
@media screen and (max-width: 767px) {
	#head-image #trasparenza { display:none; visibility:hidden; }
	#head-image #h1_container { position:static; }
	#head-image h1 { color:#152663; }
	#content-wrapper { margin-top:-15px; }
	#head-image { margin:0 0 45px; }
}

/*** BUONI MOTIVI ***/

#container_motivi { width:100%; max-width:1200px; margin:0 auto; clear:both; text-align:center; }
#container_motivi table { width:100%; height:100%; }
#container_motivi td { 
	text-align:center; vertical-align:top; width:33.333%;
	background:#f39b15; color:#FFF; box-sizing:border-box; padding:20px; 
	font-size:17px; border-left:20px solid #FFF; border-right:20px solid #FFF;
}
#container_motivi td span { display:block; }
#container_motivi td img { margin-bottom:20px; }
#container_motivi p { margin:0 0 50px; }
@media screen and (max-width: 767px) {
	#container_motivi td { display:block; width:100%; margin-bottom:20px; }
}

/*** HOTEL CONSIGLIATI ***/

#container_hotel { 
	width:100%; max-width:1200px; margin:60px auto 0; clear:both; text-align:center;
	padding:0 20px; box-sizing:border-box;
}
#container_hotel .hotel-item { width:18.4%; float:left; margin-right:2%; }
#container_hotel .hotel-item.last-item { margin-right:0; }
#container_hotel .hotel-label { 
	font-size:14px; padding:10px; background:#f39b15; color:#FFF; min-height:38px; 
}
@media screen and (max-width: 960px) {
	#container_hotel .hotel-item { width:29.3%; margin:0 2% 26px; }
}
@media screen and (max-width: 767px) {
	#container_hotel { margin:40px auto 0; }
	#container_hotel .hotel-item { width:46%; margin:0 2% 26px; }
}
@media screen and (max-width: 500px) {
	#container_hotel .hotel-item,
	#container_hotel .hotel-item.last-item { width:auto; float:none; margin:0 0 20px; }
}

/*** FORM RICHIESTA ***/

#container_contatti {
	width:100%; padding:40px 0; background-color:#EBEBE7; margin-top:80px;
}
#container_contatti h2 { margin:0 0 10px; }
#container_contatti p {
	color:#333; font-size:26px; width:100%; max-width:800px; margin:0 auto 40px; text-align:center;
}

#form_richiesta { padding:0; margin:0 auto; width:800px; box-sizing:border-box;  }
#form_richiesta .campo { position:relative; float:left; }
#form_richiesta input, #form_richiesta textarea { 
	width:380px; height:55px; margin:0 10px 10px; background:#FFF; border:2px solid #BFBFBF;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
	font-family: 'Open Sans', sans-serif; font-size:16px; color:#333; font-weight:normal; 
	padding:0 16px; cursor:pointer; -webkit-font-smoothing:antialiased; line-height:55px;
	-webkit-border-radius:0; -moz-border-radius:0; border-radius:0;
	-webkit-appearance:none; -moz-appearance:none;
}
#form_richiesta input.wide { width:780px; }
#form_richiesta textarea { resize:none; width:780px; height:100px; line-height:20px; padding:16px; }
#form_richiesta input:hover, #form_richiesta input:focus,
#form_richiesta textarea:hover, #form_richiesta textarea:focus { border:2px solid #f39b15; }
#form_richiesta input.errore,
#form_richiesta textarea.errore { border:1px solid #C00; background:#ffdbdb; }
#form_richiesta button.submit {
	width:374px; height:55px; margin:0 10px 10px; border:none; background:#f39b15;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; float:right;
	font-size:24px; color:#FFF; font-weight:400; font-family:"Open Sans",sans-serif;
	padding:0; cursor:pointer; -webkit-font-smoothing:antialiased; line-height:55px; text-align:center;
	-webkit-border-radius:0; -moz-border-radius:0; border-radius:0; letter-spacing:1px;
	-webkit-appearance:none; -moz-appearance:none;
}
#form_richiesta button.submit:hover { background:#152663; }
#form_richiesta #div_privacy {
	width:380px; margin:0 10px 10px; font-size:12px; line-height:14px; font-weight:normal; 
	float:left; border:1px solid transparent; padding:6px 2px 2px; 
}
#form_richiesta #div_newsletter {
	width:780px; margin:3px 10px 16px; font-size:16px; line-height:20px; font-weight:normal; float:left; 
}
#form_richiesta #div_policy {
	width:380px; margin:0 10px 10px; font-size:12px; line-height:14px; font-weight:normal; float:left; 
}
#form_richiesta #div_privacy img, #form_richiesta #div_newsletter img { 
	cursor:pointer; border:2px solid #bfbfbf; background-image:none; 
	-webkit-border-radius:0; -moz-border-radius:0; border-radius:0; float:left; 
	background-position:center center; background-repeat:no-repeat; background-color:#FFF;
}
#form_richiesta #div_privacy img { margin:2px 10px 26px 0; }
#form_richiesta #div_newsletter img { margin:-3px 10px 0 0; }
#form_richiesta #div_privacy img.active, #form_richiesta #div_newsletter img.active { 
	background-image:url(immagini/privacy_on.svg); background-size:16px 16px; 
}
#form_richiesta #div_privacy img:hover, #form_richiesta #div_newsletter img:hover { border:2px solid #FF6000; }
#form_richiesta #div_privacy label { 
	display:inline; font-size:12px; font-weight:400; color:#333; 
	text-transform:none; cursor:pointer; margin:0; -webkit-font-smoothing:antialiased;
}
#form_richiesta #div_newsletter label { 
	display:inline; font-size:16px; font-weight:400; color:#333; 
	text-transform:none; cursor:pointer; margin:0; -webkit-font-smoothing:antialiased;
}
#form_richiesta #div_privacy a, #form_richiesta #div_policy a { font-size:12px; font-weight:400; color:#333; text-decoration:none; }
#form_richiesta #div_newsletter a { font-size:16px; font-weight:400; color:#333; text-decoration:none; }
#form_richiesta #div_privacy a:hover, #form_richiesta #div_privacy a:focus,
#form_richiesta #div_newsletter a:hover, #form_richiesta #div_newsletter a:focus,
#form_richiesta #div_policy a:hover, #form_richiesta #div_policy a:focus { color:#333; text-decoration:underline; }
#form_richiesta #div_privacy.errore, #form_richiesta #div_newsletter.errore { border:1px solid #C00; background:#ffdbdb; }
@media screen and (max-width: 960px) {
	#container_contatti { margin-top:50px; }
	#form_richiesta { margin:0 auto 30px; }
}
@media screen and (max-width: 820px) {
	#form_richiesta { width:750px; }
	#form_richiesta input, #form_richiesta textarea { width:355px;  }
	#form_richiesta input.wide { width:730px; }
	#form_richiesta textarea { width:730px; }
	#form_richiesta button.submit { width:355px;  }
	#form_richiesta #div_privacy, #form_richiesta #div_policy { width:349px; }
	#form_richiesta #div_newsletter { width:730px; }
}
@media screen and (max-width: 767px) {
	#form_richiesta { width:100%; padding:0 20px; }
	#form_richiesta .campo { width:100%; }
	#form_richiesta input, #form_richiesta input.wide, #form_richiesta textarea,
	#form_richiesta button.submit, #form_richiesta #div_privacy, #form_richiesta #div_newsletter, #form_richiesta #div_policy { width:100%; margin:0 0 10px; } 
	#form_richiesta #div_newsletter img { margin: 2px 10px 20px 0; }
}

/*** FOOTER ***/

.footer {
	font-size:14px; color:#FFF; width:100%; text-align:center;
	background-color:#333; padding:25px 12px; box-sizing:border-box;
}
.footer a { text-decoration:underline; color:#FFF; }

/** BANDA ACCETTAZIONE COOKIE **/
#banda_cookie {
	position: fixed; left: 0; right: 0; bottom: 0; font-size: 13px; color:#333; line-height: 1.3; min-height: 140px;
	background: #FFF; border-top: 3px solid #B91F45; font-weight: 400; z-index: 10000; display: none;
}
#banda_cookie div {
	max-width: 960px; margin: 0 auto; box-sizing: border-box; padding: 12px 190px 12px 12px;
	position: relative;
}
#banda_cookie p { margin: 0; padding: 0; font-size: 13px; color:#333; line-height: 1.3; font-weight: 400; }
#banda_cookie a {
	display: block; height:34px; margin:0 auto; font-size:13px; color:#FFF; box-sizing:border-box; 
	line-height:34px; font-weight:400; text-align:center; text-transform:uppercase; width: 180px;
	padding:0; background:#B91F45; text-decoration:none; position: absolute; right: 0;
	-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; border: none; 
}
#banda_cookie a:hover { background:#2DB6BC; }
#banda_cookie a.accetto { top: 10px; }
#banda_cookie a.informativa { top: 50px; }
#banda_cookie a.informativa2 { top: 90px; }
@media screen and (max-width: 960px) {
	#banda_cookie div { padding: 8px 190px 8px 12px; }
	#banda_cookie a { right: 12px; }
}
@media screen and (max-width: 767px) {
	#banda_cookie div { padding: 8px; text-align: center;}
	#banda_cookie a { 
		position: static; display: inline-block; font-size: 12px; padding: 0 10px;
		width: auto; margin: 0 2px 8px; height: 30px; line-height: 30px; 
	}
}
